<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <div class="container">
        <h2 class="page-title">All Posts</h2>
        <% if (data.length > 0) { %>
            <% data.forEach(item => { %>
                <div class="post-card">
                    <h3 class="post-title"><%= item.name %></h3>
                    <p class="post-date"><%= item.createdAt %></p>
                    <p class="post-message"><%= item.message %></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>There are no posts to display...</p>
        <% } %>
    </div>
    
</body>
</html>